[2017-08-14 10:43] kokushta opened #3 "First test"
First let me congratulate you for creating and working on such projects. Please read carefully everything. I am pointing out my experience.

Lenovo Vibe Z2
Android 4.4.4
Quad-core 1.2GHz
RAM/MEMORY: 2GB / 32GB

Installation: no issues

Running:
It is slow. Sometimes it crashes.

Functions:

SEARCH
Search is not functional or I cannot figure out what the result should be.
Say, I click on Restaurant

[2017-08-14 14:54] kokushta opened #4 "Suggestions for Back button"
Situation: I click on one of the categories and I get a list of places, then I click the selected place to get directions. It will be helpful to have a Back button to return to the list of places. This I guess will save additional requests to the app.

[2017-08-14 15:24] diskmanti opened #5 "Slow osm loading"
Sometimes the osm base layer is slow on downloading. Tried it on 4g and wifi network. It does not happen all the time tho

[2017-08-16 23:29] rskikuli opened #6 "Change of name at OpenStreetMap editing name of the app"
When editing with CityZen app at OpenStreetMap changeset it shows that the contribution has been made using 'CityZen'. I think would be more accurate if the name of the app would appear as 'CityZen Android app'.
![screenshot from 2017-08-17 01-18-36](https://user-images.githubusercontent.com/17770262/29389560-239408e8-82eb-11e7-8a74-3fa0f595124f.jpg)

[2017-08-17 08:52] jbelien commented on #6
Maybe add the version of the app in `created_by` tag too (see https://wiki.openstreetmap.org/wiki/Key:created_by) !

[2017-08-17 10:35] kokushta opened #7 "Have more categories"
I would like to suggest other categories for the app:

Kindergarten
Schools
(these can be fit in one)

Universities

Markets

Playground
Parks
Amusements Parks
(these can be fit in one)

Shopping Malls

Parking places

[2017-08-17 14:24] rskikuli commented on #7
Thanks for the suggestions @kokushta. Here are some comments for the categories you are proposing:

I agree that this can be in one. but again these are POIs that you usually find once and don't need on a regular basis. Which makes me think that there needs to be somewhere a better description of the target group of the app. Will add more details on the website we are working on www.cityzenapp.co

[2017-08-17 14:40] jbelien opened #8 "Editing form"
Hi,

I have some remarks about the form to edit an POI (I tried to edit informations about `amenity=restaurant`) :

- Impossible to enter/edit houser number (also impossible to **view** the house number)
- Impossible to enter/edit postal code (also impossible to **view** the postal code)
- It's only possible to enter the same opening hours for each day but there are a lot of shops/restaurant that

[2017-08-18 09:42] diskmanti opened #9 "GPS get location fail"
I opened the app and enabled the gps on my device. I went on the web map part of the application and it failed to show my current location. It still showed the last location known of mine, not my current.

When I search for a POI and tried to get the directions it updated my location.

Maybe when someone clicks on the map link the app should request the current location and update it accordingly.

[2017-08-18 09:53] diskmanti opened #10 "Add different type of directions"
When users search for directions give them the possibility to request directions by foot, car, bike ,etc..

[2017-08-18 17:49] rskikuli opened #11 "Ver. 0.6: adding the APK file to F-Droid repository"
After the review of the feedback from users that are participating in the alpha version testing program, the APK that incorporates the changes and improvements needs to be added to [F-Droid](https://f-droid.org/) and  [www.fossdroid.com](https://fossdroid.com/).
Fossdroid takes its data from [F-Droid](https://f-droid.org/contribute/) and organizes the apps in an attractive Google Play-like arrange

[2017-08-18 17:54] rskikuli commented on #8
@jbelien thank you so much for taking the time to review the app even in the early alpha version of it. We will wait for some more days to get more feedback from you and other testers in order to review and implement the changes. Again thanks for getting involved, we really appreciate it.
If you have other comments and have found some more bugs please add them here @ Github.

[2017-08-18 18:56] jbelien commented on #10
Which API do you use to calculate the direction ?

[2017-08-19 15:39] rskikuli opened #12 "Ver. 0.6: location icon on the map"
On the map page it is not easy to see where the actual location is with the actual color of the image. I propose to use a more distinguished icon-color and make it easier to understand where the actual location is.

[2017-08-19 15:53] valdio commented on #7
In the next release we will have the following categories:
Cafes ("amenity", "cafe")
Bars/Clubs ("amenity", "bar")
Restaurants ("amenity", "restaurant")
Fast food ("amenity", "fast_food")
Tourist attractions ("tourism", "attraction" //// "historic", "monument")
Hotels/Hostels ("tourism", "hotel" /// tourism", "hostel" /// "tourism", "guest_house")
Public transport ("building", "transportation" //

[2017-08-19 15:57] rskikuli commented on #6
Thanks @jbelien. We will use 'CityZen Android app v.1.0' based also on your comment. Ping @valdio.

[2017-08-19 16:00] rskikuli commented on #5
@diskmanti, unfortunately this is due to many factors that are not related to us. For example, OSM map loading times, device used and of course the mobile network. Fortunately, we are having only a few reports like this at this early stage of testing.

[2017-08-19 16:04] rskikuli commented on #4
@kokushta this is an enhancement that we will work on lately because it needs a lot of work to be implemented and we would like to focus on other elements at this stage. I'm adding this on the version 2.0 features list.

[2017-08-19 16:23] rskikuli commented on #8
Here are some comments based on your feedback @jbelien:

Valid point. We were based on the needs of Tirana address system when we created this. This will be added on the v1.0 that will be released on F-droid.

Another valid point. Same answer with the previous issue.

Valid, but we were thinking of adding this at v2.0 release. If you or someone else can help us coding this would really help us (bl

[2017-08-19 16:26] rskikuli commented on #9
@diskmanti this is improved quite a bit in the version that we are preparing at the moment. I'll share the new APK with you once is ready - hopefully in the next days. I'm living this open so that you comment once you get the new version of the app. Many thanks for taking the time to comment.

[2017-08-19 16:30] rskikuli commented on #3
Thanks @kokushta for the feedback. I'm splitting the comments in separate issues since there are different bugs that need different approach in terms of debugging. Again thanks for the feedback.

[2017-08-19 16:36] rskikuli commented on #10
@diskmanti the library we are using to calculate the directions and guide uses only. As far as we know there is no floss library that gives directions for 'on foot' and 'bike' usage.
@jbelien I think @valdio has used this one https://github.com/MKergall/osmbonuspack. Do you know if there is any library that can be used for the direction feature? That would really help.

[2017-08-19 16:37] rskikuli opened #13 "Credits and license tracking"
@valdio please add here the licenses of the different libraries (or other elements) used for the developed.

[2017-08-19 16:39] rskikuli opened #14 "Search functionality"
In many cases search doesn't display any results. A 'no results found' message with ideally a related image needs to be displayed.

[2017-08-19 18:03] jbelien commented on #8
CityZen supports some of the date formats as documented at this link, but not all of them at the moment: http://wiki.openstreetmap.org/wiki/Key:opening_hours. Having said this, it shouldn't be an issue since we have based the hours system based on OSM. What do you think?

I'll have a look at the code ...
My comment was made following an edit I made using CityZen app (see http://www.openstreetmap.o

[2017-08-19 18:06] jbelien commented on #10
@rskikuli Ben Abelshausen ( @xivk ), one my co - OSMBE board member, developed an open-source library just for that : https://github.com/itinero/routing
I saw it in action and it's really incredible. If you need it, I probably can put you in touch with him :)

[2017-08-19 19:26] rskikuli opened #15 "Search functionality bug"
The search functionality on the Alpha Version of the software doesn't work on many devices.
This is a comment from [this bug](https://github.com/CityZenApp/CityZen-Android/issues/3) - thanks. Creating a dedicated bug since it is an important feature. Search is not functional as reported by @kokushta and other users.

[2017-08-19 19:31] rskikuli opened #16 "'Directions' bug"
This is a bug reported from @kokushta in [another bug](https://github.com/CityZenApp/CityZen-Android/issues/3).
Directions feature from point A to point B in many cases is not working. Scenario:
a user clicks on Restaurants, and gets POIs name X. If users clicks on 'Getting directions' it sometimes shows a straight line from point A to B.
We should avoid showing a straight line if the correct dire

[2017-08-20 18:56] rskikuli commented on #13
@valdio I think it's better to add the licenses here: https://github.com/CityZenApp/CityZen-Android/wiki/Copyright-info. It is a wiki for the project I created. Hopefully it will help us having better documentation.

[2017-08-21 09:18] xivk commented on #10
I agree with @jbelien that mine is awesome! ;-) But it's only usable via Xamarin, at least not without some extra effort, so not really something you guys would be planning to I assume.

Also have a look at [graphhopper](https://github.com/graphhopper/graphhopper) by @karussell

[2017-08-21 09:27] jbelien commented on #10
Oh damn ... That's too bad :(

Indeed GraphHopper seems to have an Android version : https://github.com/graphhopper/graphhopper/tree/master/android

[2017-08-21 09:41] diskmanti commented on #10
I also used graphhopper for some web apps and I was happy with the results. Anyway if it is too much trouble to implement this feature than better concentrate on other things. It was more of a feature request than something critical to the app.

[2017-08-21 10:05] karussell commented on #10
@xivk Thanks a bunch for the mention :+1: much appreciate also your hard work on itinero :) !

[2017-08-21 13:32] jbelien opened #17 "Regroup restaurants by cuisine"
Could be nice to have the list of restaurants sorted/filtered/... by `cuisine` tag.
Usually people are looking for a specific kind of restaurant.

[2017-08-21 13:36] jbelien opened #18 "Use opening_hour tags in display"
When you list the POI's in the app, would be really useful to easily see if the POI is currently open or closed (comparison between current time and `opening_hours` tag)

[2017-08-22 13:03] rskikuli commented on #18
Tis feature is already implemented @jbelien. Inf you go on top right corner of the results page of each category you can filter results by 'currently opened'. Have a look at the screenshot please.  ![cityzen_app_alpha_testing_2017-08-22_15-01-37](https://user-images.githubusercontent.com/17770262/29566670-e58095f8-874a-11e7-8101-935caa046b3e.jpg)

[2017-08-22 13:08] rskikuli commented on #17
Nice idea @jbelien! Adding this on the list of features for the next release. I added this on our wiki as well: https://github.com/CityZenApp/CityZen-Android/wiki/Ideas-&-proposals.

[2017-08-22 14:26] RucajDenisa opened #19 "Results' ranking by the closest location"
Would be good to rank the results starting by the closest one to the current mobile location.
I think this will save lots of time for the user and is useful.

[2017-08-22 14:33] rskikuli commented on #19
Many thanks, @RucajDenisa. This is tricky since will require us to host the ratings on our server and also might create legal issues in some cases, due to the fact that some business owners might think that we are responsible for a bad review they might get. Other than this is a very nice proposal and I already added this to the wiki page with the other proposals. You can find it [here](https://gi

[2017-08-22 15:38] jbelien commented on #18
So sorry ...
I'll be more careful next time !

[2017-08-22 15:38] #18 closed

[2017-08-22 15:40] jbelien commented on #19
@rskikuli I do think "user rating" is involved in the proposition of @RucajDenisa ; if I understand correctly she just wants to see the results sorted by distance between the POI and the current location.

Could be already the case though ; but if it's not, it would be nice indeed :)

[2017-08-22 22:22] rskikuli commented on #19
@jbelien @RucajDenisa oh I totally misread that. IIt is a really good idea and relatively easily implemented. I'm adding both ideas on the proposed features.

[2017-08-26 17:16] valdio commented on #13
# Libraries used in the app:

### Android support libraries:

com.android.support:appcompat-v7:25.3.1
com.android.support:design:25.3.1
com.android.support:recyclerview-v7:25.3.1
com.android.support:cardview-v7:25.3.1
com.android.support:support-vector-drawable:25.3.1
com.android.support:support-v4:25.3.1
com.android.support.constraint:constraint-layout:1.0.2
Apache License 2.0
https://android.goo

[2017-08-31 17:43] jbelien opened #21 "Use user language"
If available display the name in user language.

For instance display tag `name:fr` for French speaking user if available and if not display default tag `name`.

[2017-09-01 09:55] jbelien opened #22 "Add zoom buttons in the map"
I usually use my phone with one hand ;
Would be really useful to have a zoom +/- button in the map.

I know to zoom I just have to double-tap the screen (and it works really well) but to unzoom a button would be convenient I think !

[2017-09-03 21:41] Sidorela24 commented on #15
Testing the app I also have the same problem the search button still doesn't work.
I wanted to add that when location is enabled, search gives an empty result.
While when location isn't enabled and I tried to search, the app craches.

[2017-09-03 22:02] Sidorela24 opened #23 "Convenience store as part of supermarket category"
Other categories and POIs can be added, while testing I am trying to figure out whats missing.
I find super market category resulting with a few POIs because it includes only features of tag shop:super market.
What about showing also mini-markets , POI type shop: [convenience](https://wiki.openstreetmap.org/wiki/Tag:shop=convenience) ?

[2017-09-03 22:15] Sidorela24 opened #24 "Results affected by the way of mapping"
The way how a feature is mapped affects the result that we get from the app. There are features like cafes, hotels, clubs, restaurants, supermarkets etc which a mapper can add them on a map as a node or as an area, when the whole building is for this purpose.
The app only shows POIs which are a node in the map, a single point. I saw that when I new that a hotel was in the OSM data but wasn't shown

[2017-09-04 05:10] jbelien opened #25 "Add ability to define search radius"
What is the current search radius ?

It would be really nice to be able to define the search radius in the settings page.

[2017-09-08 17:11] Borisbudini opened #26 "Add ability to sign up on OSM using CityZen App"
I was wondering if the ability to sign up for OSM using CityZen App is possible. This popup can be shown along with sign in

[2017-09-10 15:29] rskikuli commented on #26
If you go to a Point of Interest @Borisbudini you can log in to your OSM account easily with a pop up. Please check it and let me know if it is not working.
ps: thank you for your contribution :)
.

[2017-09-10 15:33] rskikuli commented on #23
Thank you for your contribution @Sidorela24 . Adding your proposal here: https://github.com/CityZenApp/CityZen-Android/wiki/Scrapbook. I will close this issue once it is added on the next release.

[2017-09-10 15:36] rskikuli commented on #21
Very interesting proposal @jbelien. I was wondering if this is an option from OSM. do you have any info on this so that we can research and take a decision on the implementation of this feature in the next release?

[2017-09-10 17:42] Borisbudini commented on #26
Hey Redon. What i meant was to create an account, not log in.On Sep 10, 2017 17:29, Redon Skikuli <notifications@github.com> wrote:If you go to a Point of Interest @Borisbudini you can log in to your OSM account easily with a pop up. Please check it and let me know if it is not working.
ps: thank you for your contribution :)
.

—You are receiving this because you were mentioned.Reply to this email

[2017-09-11 07:56] jbelien commented on #26
I don't think it's possible.
And I'm not sure it's a good idea actually, you shouldn't hijack the registration process from osm.org ; everything linked to OSM depends on OAuth.

I would rather add a link to load the registration page (https://www.openstreetmap.org/user/new) or open that page in a popup (don't know if it's possible).

[2017-09-11 08:06] jbelien commented on #21
# Map :
I'm guessing that the app currently use map from https://tile.openstreetmap.org/ (that's the map display on https://www.openstreetmap.org/) ;
On this map the `name` tag is displayed (usually, it's the name in the country language).
To be able to change the names displayed on your map, you should switch to VectorTiles instead of Raster tiles. There is a new project that does just that : htt

[2017-09-16 15:09] shehuceljeta opened #28 "Category BikeRoad"
Hello,
Could you add another category within my repository (https://github.com/shehuceljeta/Android-Development)?
The name of category:BikeRoad, icon: a bicycle. In this category will be display all the bicycle road in Albania(tag: highway=cycleway).(Like the logic of Transportation menu)
According to the location that user want to go, the app will display the road that must be followed in a map.

[2017-09-18 08:39] Sidorela24 opened #29 "Results missing on categories even when they are on the map"
Ass I mentioned on [issue 24](https://github.com/CityZenApp/Android-Development/issues/24) when I search on an category it donesn't give me all the results. I saw from the code that the radius was 600m. From the screenshot I am showing where a hotel is( green color) and where I'm (red color) also because the routing is not functioning right now.
Category hotel/hostel only shows me one hotel which

[2017-09-20 19:18] rskikuli commented on #7
@kokushta I'm closing this since the new version of the app features more categories.
Thank you for your proposal!

[2017-09-20 19:26] rskikuli commented on #26
@Borisbudini I agree with @jbelien on this. In any case we have added log-in and log out functions on te new version now. Closing this issue. Thank you guys for the input.

[2017-09-20 19:26] #26 closed

[2017-09-20 19:28] rskikuli commented on #28
@shehuceljeta first of all thank you for getting involved with our project. After talking with @valdio it seems that this feature is quite complicated to be implemented at the moment, but it is a good idea for the next releases. Closing this issue.

[2017-09-20 19:28] #28 closed

[2017-09-21 07:54] jbelien commented on #7
Any details on that issue ?
Can I help with something ? :)

[2017-09-22 00:41] santamariense opened #30 "Bus stop showing bus routes"
Transportation is always a subexplored area. Some ideas:

1. On selecting a bus stop, CityZen could show a list of bus routes that attend it.
2. Pay atention to the public_transport:version=2. Most of the existing based aplications don't support the new version. I mean, they don't recoginize route_master and stop_area. E.g., many times the name is on the stop_area only and not on platform/stop_pos

[2017-09-26 12:15] jbelien opened #32 "Display of the address"
You display the name of the place in the address field in the information "popup".
I think it's a bit confusing !

Look at the screenshots here under,
- the first one is quite okay (even though the place name is repeated twice, which is not necessary) but
- the second one only display the name as the address, which does not make any sense.

Also in Belgium (and lots of other countries), we need th

[2017-10-11 15:11] cwmke opened #34 "Share Address With Other Apps"
I think it could be useful to add a share option to send the selected poi to another app. For example, OsmAnd for navigation or a chat app to share your location with a friend.

[2017-10-12 16:30] Nakaner opened #35 "App creates OpenStreetMap tags with empty values"
This app creates OpenStreetMap tags with empty values and other changes which look strange.

A tag key or tag value should be a non-empty string which neither begins with a space character (including tab, protected space etc.) or ends with a space character.

In addition, the user added an address (it was empty) to a so-called place node. This is wrong. Place usually do not get `addr:*=*` tags.

[2017-10-12 21:31] rskikuli commented on #35
Thanks for taking the time to file this bug @Nakaner. @valdio can you have a look please, since this seems quite important?

[2017-10-13 03:48] AlfaOmega33 opened #37 "No GPS option"
Hi! Please, add an ability to manual insert the position (for example, insert city name, etc.) for protect the privacy!

[2017-10-13 03:49] AlfaOmega33 opened #38 "Offline use"
Add an option to download a specific city/region/etc. for use the app completely offline

[2017-10-13 20:58] rskikuli commented on #37
This is a great proposal @AlfaOmega33. Adding this on the list of features for the next release. Not sure in what version will be available though.

[2017-10-13 20:59] rskikuli commented on #38
This is definitely one of the features that is in our minds for quite some time now. will be able to answer you soon about the version that this will be available in the app. Thank you for your feedback, appreciated!

[2017-10-13 21:03] rskikuli commented on #30
Thank you for taking the time to report @santamariense. We really appreciate it! In general public transportation with OSM is tricky and to be honest we will have focus on it once we have the resources to dedicate. Your second comments is highly valuable and will definitely keep it in mind when implementing more features related to public transportation. I'll let this open until we start working o

[2017-10-13 21:04] rskikuli commented on #34
Very good point @cwmke. This is definitely going to the list of features for the next release! Thanks for taking the time to add your proposal.

[2017-10-13 21:06] rskikuli commented on #23
@Sidorela24 this is now added on the v1.0 of the app. Please confirm that this is working so that I close this 'issue'. Thank you.

[2017-10-13 21:07] rskikuli commented on #22
This is now on the list of features for the next release. Thank you for submitting the issue. I'll close this once your proposal is implemented in the new version(s).

[2017-10-13 21:08] rskikuli commented on #29
This should have been fixed now. Please confirm @Sidorela24 so that I close this issue. Thanks!

[2017-10-13 21:11] rskikuli commented on #17
This issue will be closed one this feature is implemented in one of the next versions.

[2017-10-13 21:13] rskikuli commented on #6
@jbelien this should have been fixed with the v1.0 of the app release on Fdroid. Can you please confirm? Also is this related somehow with [issue #35](https://github.com/CityZenApp/Android-Development/issues/35) in your opinion?

[2017-10-13 21:14] rskikuli commented on #5
@diskmanti please test the latest v1.0 as released on Fdroid platform and check if you are having the same issues. This could help us understand the issues better. Thank you.

[2017-10-13 21:16] rskikuli commented on #12
Closing this since now the location pointer is using a red color which is better than the previous color. Could be even better in the future, but it is ok for the moment.

[2017-10-13 21:17] #12 closed

[2017-10-13 22:35] rskikuli commented on #13
Thank you @valdio. The license notes will be reflected on [www.cityzenapp.co](www.cityzenapp.co) in the next days. Closing this issue now.

[2017-10-13 22:35] #13 closed

[2017-10-13 22:37] rskikuli commented on #3
@kokushta please download the v1.0 of the app from [Fdroid repository](https://fdroid.gitlab.io/fdroid-website/packages/com.cityzen.cityzen/) and let me know if everything works now. If yes I'll close this issue. Thanks for taking the time to test the app.

[2017-10-14 08:27] jbelien commented on #6
Confirmed : `created_by: CityZen Android app v.1.0` !
I would remove the dot (`.`) between the `v` and the first digit of the version though (`1`) to make `v1.0`.

Issue #35 is not related to this :)

[2017-10-14 11:09] diskmanti commented on #5
Hello,
I am using a General Mobile 4g,pure Android device. From my test today it looks faster than before. It seems the app downloads the tiles first and cashes them for further use. This makes the app load the map faster after the first few moments. I think it is better now and should not be an issue for most of the users.

Cheers

[2017-10-14 15:17] azrdev commented on #38
https://github.com/osmandapp/Osmand/issues/3787 would be useful here, too

[2017-10-14 21:07] Sidorela24 commented on #23
Hey @rskikuli, yes it works now.
Thank you.

[2017-10-16 00:02] Bahjesaispas opened #39 "Bikes"
Support different mode of transport like bikes for exemple. Will be great with the support of open bike sharing (http://openbikesharing.org) in the near future.

[2017-10-17 19:35] trigpoint opened #40 "No results in any category"
Map is showing my position correctly however search returns no results in any category.

[2017-10-17 19:49] trigpoint commented on #40
It is finding a few POIs, have realised the issue and will open a new issue.

[2017-10-17 19:49] #40 closed

[2017-10-17 19:57] trigpoint opened #41 "Only finding POIs mapped as nodes"
When searching only results for POIs mapped as node are found. Those mapped as ways are ignored.

[2017-10-19 21:57] rskikuli commented on #41
Thank you for filing this bug @trigpoint. Can you please share more info so that we investigate further? What are you

- harware (phone/tablet model);
- Android version;
- location (or at least country of continent where you tried this);
- maybe some screenshot?

If you don't feel comfortable sharing these info we totally understand. In the mean time labeling this as a big. Thanks.

[2017-10-20 09:15] jbelien commented on #41
I think it's a duplicate of #24 !

[2017-10-21 16:28] Dostoi opened #42 "Stores with no openning time shouldn't disapear when looking for opened store"
When you check the option to show only open store, stores with no opening time disappear along with the closed one's. It's not because you don't have its time that it's closed.
Instead they should be showed but under the ones that we are sure are open.

[2017-10-23 09:49] rskikuli commented on #42
Thanks for taking the time to propose this @Dostoi. This is indeed something that makes sense to be in the next release along with some other improvements we are planning at the moment. Adding this to the list of labels with feature proposals. Thank you.

[2017-10-23 09:50] #23 closed

[2017-10-30 20:39] tianxiaogu opened #43 "android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views."
I found a crash during evaluating my automated testing tool.
It seems that the GUI cannot be updated asynchronously in another thread.
It might be a trivial bug. Stack trace is below.
[code]

[2017-11-09 16:23] rskikuli commented on #29
Closing this as it is a duplication of issue #24.

[2017-11-09 16:25] #29 closed

[2017-11-10 00:29] licaon-kter opened #45 "Compass icon errors on screen density change"
App version: 1.0
Xperia 6.0.1

How it looks at the default DPI (480): https://lut.im/ETfSjkgB9G/KtjlOkxpSCwcUVmj.jpg

How it looks (bigger icon) and behaves (arrows have different rotation centre) at a different DPI (424): https://i.imgur.com/Y5efVnQ.mp4

DPI can be changed via ADB with: `adb shell wm density XXX`

[2017-11-10 11:57] jancborchardt opened #46 "Emptycontent view for favorites"
On initial start, or when you don’t have any favorites yet, the view is completely empty. It looks a bit like an error, or things didn’t load.

For proper feedback, an empty state is great. Also see http://emptystat.es/

This is for example how we do it in Nextcloud:
![screenshot from 2017-11-10 12-54-17](https://user-images.githubusercontent.com/925062/32657557-85175958-c616-11e7-86a2-c72dc5a9295

[2017-11-10 13:37] jancborchardt opened #48 "Contrast of category background colors"
The different category background colors are quite bright, so that the white icons and white text on it are sometimes very difficult to read. Either using darker colors, or black icons & text would improve that.

You can check it nicely at http://accessible-colors.com

[2017-11-16 15:51] rskikuli commented on #16
It seems to have been improved in the v 1.0 version that is launched on F-Droid. Closing this now

[2017-11-16 15:51] #16 closed

[2017-11-16 15:54] rskikuli commented on #11
App is now live on F-Droid. Closing this issue.

[2017-11-16 15:54] #11 closed

[2017-11-16 15:59] rskikuli commented on #9
@diskmanti can you check if this issue is improved in the v 1.0 version launched in F-Droid? You can find it here: http://cityzenapp.co/.

[2017-11-16 16:01] rskikuli commented on #3
@kokushta any news on this? Please download the latest version here: http://cityzenapp.co/ and report if the issues mentioned have been improved. Thank you.

[2017-11-16 17:38] rskikuli commented on #25
Adding this to v 1.3.

[2017-11-16 17:45] rskikuli commented on #15
Adding this to v. 1.2.

[2017-11-16 22:59] rskikuli commented on #8
@jbelien can you please test this again using the latest version that is launched on F-Droid? You can find it here: http://cityzenapp.co/.

[2017-11-22 13:15] jbelien opened #49 "Translation of URL's and email address"
I started to translate CityZenApp in French (https://hosted.weblate.org/projects/cityzen/strings/fr/) and I noticed that URL's and email address are in the words to translate ... but that doesn't make any sense to translate those.

For instance (in [`strings.xml` file](https://github.com/CityZenApp/Android-Development/blob/master/CityZenApp/app/src/main/res/values/strings.xml)) :
[code]

IMHO thos

[2017-12-13 18:26] rskikuli commented on #5
Thank you @diskmanti  for your feedback. Closing this since it is now improved.

[2017-12-13 18:33] rskikuli commented on #8
@jbelien some feedback regarding your comments below:

This is implemented in version v 1.0

Also implemented in v 1.0

@sidorelauku can you add a separate issue for this? Planned for ver 1.3.

[2017-12-13 18:36] rskikuli commented on #9
Ping @anxh3l0 for an explanation about why this happens.

[2017-12-13 18:42] rskikuli commented on #15
Closing this as it is a duplicate from #14

[2017-12-13 18:42] #15 closed

[2017-12-13 18:58] rskikuli commented on #39
Similar issue and importance with #30.

[2017-12-13 19:06] rskikuli commented on #41
Closing this as it is a duplicate of #24 . Thank for your contribution.

[2017-12-13 19:06] #41 closed

[2017-12-14 13:29] sidorelauku commented on #30
Hey @santamariense  it is nice to have so many features, but there are a lot of apps for transportation and adding this now I don't think is a priority, it could be developed as a branch of the project. So for now I think it has a low priority, but will keep this in mind in later version if it can be merged on CityZen App. For any other suggestion on this, we can just comment on this thread.
Thank

[2018-01-31 18:56] rskikuli opened #52 "Search page needs new design"
The search page needs e new design and UX design since now it is really confusing. The Nextcloud app is a good example as an approach. See #46 for better understanding.  The 'nothing found' message should be fun and clear.

[2018-01-31 19:09] rskikuli opened #53 "App usage metrics solution"
We need to find a solution about the usage metrics of the app without compromising the privacy of our users. Let's work on finding a solution about this. The F-droid community forum might be a good start.

[2018-02-02 00:44] rskikuli commented on #14
This is what we discussed about on the January meetup at our hackerspace in Tirana @AnXh3L0. Can you pass to @sidorelauku a design of how the screen should look like?

[2018-02-04 14:03] PanderMusubi opened #54 "Hide feature"
Please, consider adding a hide feature. Some locations have a lot to offer. A user might want to mark places not to be shown next time the app is used. This would be the opposite of the like function.

Because an entry is no longer visible, there should also be an extra overview to see what has been hidden by the user, with for each entry or all entries the function to unhide them again.

Implemen

[2018-02-07 14:06] rskikuli opened #55 "Implementationi of tablet friendly version"
Right now CityZen app is not optimized for tablet devices and we need to start working on that. Although this is labeled as an issue for ver 2.0 it is quite a lot of work to be done. Any help on this is highly appreciated.

[2018-02-12 22:11] AndyScherzinger commented on #52
I implemented this for the Nextcloud Android App. Let me know if you need any pointers, hint, help or anything :) Happy to help!

[2018-02-19 18:29] sidorelauku opened #56 "App logo needs to be changed"
On the next release I propose to change the logo of the app, with the latest we are using on our communications channels.
@AnXh3L0  can you please help with this?

[2018-02-19 18:34] rskikuli commented on #35
@Nakaner can you please try again editing and share here the results? Before proceeding make sure you are using the latest version that can be found here: http://cityzenapp.co/. I also commented here https://www.openstreetmap.org/changeset/52843557. Thank you.

[2018-02-19 18:36] rskikuli commented on #52
@AndyScherzinger can you share the source files here if they are on a CC licene? We are working the working on ver. 1.0 and that would really help :).

[2018-02-19 18:38] rskikuli commented on #46
@AnXh3L0 did you find the time to proceed with this? Thanks.

[2018-02-19 18:40] rskikuli commented on #6
@sidorelauku please change the new version to CityZen Android app v1.1.

[2018-02-19 18:44] rskikuli opened #57 "Launch of v1.1.0 on F-droid"
Let's work on launching v1.1 on F-Droid. Goal: 15.03.2018. Tasks:

- remaining changes implementation https://github.com/CityZenApp/Android-Development/issues?q=is%3Aopen+is%3Aissue+label%3A%22ver+1.1%22
- documentation of improvements on OSM wiki page of CityZen;
- blog post for our website (press release);
- follow the F-droid procedure to update.

[2018-02-19 19:53] AndyScherzinger commented on #52
The source files are basically Android files (XML, java), but is it quite "easy"
The "empty view" can be seen here: https://github.com/nextcloud/android/blob/master/src/main/res/layout/empty_list.xml
and
java-wise
https://github.com/nextcloud/android/blob/master/src/main/java/com/owncloud/android/ui/activity/ActivitiesListActivity.java#L346

The code is all GPL3 though but like I said I can help o

[2018-02-19 21:06] AndyScherzinger commented on #52
@rskikuli I opened a PR to provide a sample implementation of how this can be done. It is a working implementation. #58

[2018-02-27 21:55] #52 closed

[2018-02-27 22:09] AndyScherzinger commented on #52
@rskikuli @AnXh3L0 @jancborchardt @sidorelauku one question about the favorites empty page design should the "heart" icon be grey or like we do it for favorites in the Nextcloud app be colored (semitransparent)?

[2018-02-27 22:16] AndyScherzinger opened #60 "Favorites page needs new design"
follow up issue to #52 for the favorites empty page design.

[2018-02-27 22:17] AndyScherzinger commented on #60
@sidorelauku @rskikuli @AnXh3L0 feel free to assign me this issue if you like :heart:

[2018-02-28 10:07] AndyScherzinger commented on #60
PR is #61

[2018-02-28 11:49] marianaballa opened #62 "Post office indication"
For the next version release I would like to propose to show on the home screen  even the post offices near you.

[2018-02-28 23:17] rskikuli opened #64 "Adding Bakery as a category"
Following the proposal of adding a post office (#62) I'd like to propose to also add 'Bakery' as an additional category. Adding this on the list of features for ver 1.3.

[2018-02-28 23:22] rskikuli commented on #55
@AndyScherzinger your feedback on this is appreciated.

[2018-03-03 12:18] tpoonach opened #65 "Putting more screenshots on the internet"
It would be nice to have a documentation of all the screenshots of the app with tagged pictures and examples for people who do not have mobile phones to see what the app looks like and be able to reference pages and features. So could you please create a users guide with all the screens in the app for review?

[2018-03-03 13:54] rskikuli commented on #65
I'd propose to at those firstly at this repo https://github.com/CityZenApp/Branding (@AnXh3L0 can you help) and after can we add this on our website @sidorelauku? Sidorela in order to have the screenshots on search engines meta info would be needed for each image.
@AnXh3L0 would be nice to have the preview inside a phone mockup? Many thanks.

[2018-03-03 13:56] rskikuli commented on #65
Keep in mind that the images needs to be generated after the work from @AndyScherzinger, Elio (can't tag him) and Anxhelo are doing.

[2018-03-03 15:38] sidorelauku commented on #65
I like the idea, I think it will be on a documentation session on our website, and I can work with this after the images being generated.

[2018-03-03 15:43] #60 closed

[2018-03-03 16:44] AndyScherzinger commented on #46
@rskikuli this has been fixed and merged via #61

[2018-03-03 16:56] AndyScherzinger commented on #65
Screenshot can imho be done as soon as #67 has been merged to master :smiley:

[2018-03-03 21:57] AndyScherzinger commented on #62
Feel free to assign this one to me since I already started working on it :)

[2018-03-03 21:57] AndyScherzinger commented on #64
Feel free to assign this one to me since I already started working on it :)

[2018-03-03 21:58] AndyScherzinger commented on #48
Should be fixed via #67

[2018-03-04 10:25] AndyScherzinger commented on #62
PR is #68

[2018-03-04 10:25] AndyScherzinger commented on #64
PR is #68

[2018-03-04 10:49] AndyScherzinger commented on #49
PR is #69 in case the translation system respects Android's `translatable="false"` flag

[2018-03-04 10:53] AndyScherzinger commented on #32
Also saw this display issue. I am on it, PR to be opened soon :)

[2018-03-04 14:42] AndyScherzinger commented on #32
PR is #70

[2018-03-04 14:49] AndyScherzinger commented on #14
@rskikuli imho fixed already via #58

[2018-03-04 15:06] AndyScherzinger commented on #6
PR is #71

[2018-03-04 16:38] #48 closed

[2018-03-04 16:56] #62 closed

[2018-03-04 16:56] #64 closed

[2018-03-04 17:03] #49 closed

[2018-03-04 17:09] #32 closed

[2018-03-04 17:20] #6 closed

[2018-03-04 17:25] AndyScherzinger commented on #65
All UI related PRs have been merged so themaster branch would now be ready for new screenshots :)

[2018-03-04 18:12] sidorelauku commented on #46
Issue fixed, I'm going to close this.

[2018-03-04 18:13] #46 closed

[2018-03-05 11:42] AndyScherzinger commented on #42
PR is #75

[2018-03-05 14:17] sidorelauku commented on #14
Thanks @AndyScherzinger  the PR is merged.

[2018-03-05 14:17] #14 closed

[2018-03-05 18:04] #42 closed

[2018-03-07 16:13] #56 closed

[2018-03-07 16:38] AndyScherzinger commented on #65
@sidorelauku please find attached some screenshots of the revamped UI

![device-2018-03-07-173311](https://user-images.githubusercontent.com/1315170/37104835-fec49f2c-222d-11e8-8538-c8581249dcb1.png)
![device-2018-03-07-173117](https://user-images.githubusercontent.com/1315170/37104836-fee64104-222d-11e8-8b1e-1e5d46585d48.png)
![device-2018-03-07-173137](https://user-images.githubusercontent.com/1

[2018-03-07 16:53] AndyScherzinger opened #81 "Search results loose address data in detail view"
Searching for a place (or several) and clicking on the item for the details doesn't show the address data:
![device-2018-03-07-175155](https://user-images.githubusercontent.com/1315170/37105818-6cd2eb84-2230-11e8-931a-34fe1c7e9ce1.png)
![device-2018-03-07-175204](https://user-images.githubusercontent.com/1315170/37105822-6ec88732-2230-11e8-8083-68d04480ffe9.png)

Doing the same thing via favorites

[2018-03-07 17:13] AndyScherzinger opened #82 "Reformatt search result list items"
At the moment the search result items simply display a "full string" info of the search reults which looks rather "unformatted" or a least not optimal for the user to read:
![device-2018-03-07-175155](https://user-images.githubusercontent.com/1315170/37105938-c08cd65e-2230-11e8-9ca7-8410f169eb64.png)

Solution as per discussion is to only display the streetinfo per result item:
![photo_2018-03-07_

[2018-03-08 16:45] AndyScherzinger commented on #34
PR #83 contains a share option for geo-links recognized by map applications

[2018-03-08 16:54] AndyScherzinger commented on #82
PR is #83

[2018-03-08 17:16] AndyScherzinger commented on #65
#83 again changes quite some screens design wise, so imho this issue is pending until we are truly closing in on 1.1.

[2018-03-08 17:52] #19 closed

[2018-03-08 17:52] #34 closed

[2018-03-08 17:52] #82 closed

[2018-03-09 10:07] AndyScherzinger commented on #81
Fix via #83

[2018-03-09 10:07] #81 closed

[2018-03-09 10:45] jbelien opened #85 "Tiles usage policy"
According to [OpenStreetMap Tile Usage Policy](https://operations.osmfoundation.org/policies/tiles/) :

So we'll have to use an alternative at some point !
This is just a notice so we don't forget this issue ; not being a Java developer I unfortunately can't really propose a solution to this.

[2018-03-09 10:47] jbelien commented on #85
I guess Mapbox GL would be a solution : https://www.mapbox.com/android-docs/map-sdk/overview/

[2018-03-12 12:36] sidorelauku commented on #22
Included in PR #84

[2018-03-12 12:36] #22 closed

[2018-03-12 17:13] AndyScherzinger commented on #85
We can also check for caching, since the osm android lib offers offline maps (and I think also caching)

[2018-03-12 17:20] AndyScherzinger opened #87 "Offer ability to set different opening hours per day"
Remaining issue originally reported via #8
It's only possible to enter the same opening hours for each day but there are a lot of shops/restaurant that have different opening hours if it's the week or the weekend

[2018-03-12 19:04] jbelien commented on #85
Unfortunately caching is not enough to use tiles.openstreetmap.org ; those are rather small servers so it can be used only for testing.

[2018-03-12 19:14] AndyScherzinger commented on #85
Alright, I just thought that the page stated caching for at least 7 days, so if we would have done that we would be save.

[2018-03-14 16:38] AndyScherzinger commented on #85
@jbelien do you know of any OSM services which can be used for production, non-testing setups like CityZen?

[2018-03-14 21:00] jbelien commented on #85
I still suggest to use Mapbox GL ! Very nice and robust product, even though you'll have to pay for it at some point.

Otherwise there are some other companies/groups that provides tiles :
- Check here : https://wiki.openstreetmap.org/wiki/Tiles
- https://www.mapbox.com/android-docs/map-sdk/overview/
- https://carto.com/docs/carto-engine/mobile-sdk/
- https://openmaptiles.org/
- and plenty more ..

[2018-03-14 21:03] AndyScherzinger commented on #85
@rskikuli what do you think?

[2018-03-16 14:19] rskikuli commented on #85
@AndyScherzinger & @jbelien many thanks on your feedback on this. After also talking with the creator of a similar app (Transportr) I think that the best way to go at the moment is Mapbox. In the mean time the discussion about covering the costs will be intensified because we need to make sure that after reaching the freemium limit there will be no issues with the service. some things that need yo

[2018-03-16 14:28] jbelien commented on #85
Check here to see what's possible : https://www.mapbox.com/mobile/

Yes, you can see the style available here : https://www.mapbox.com/maps/ (and see https://www.mapbox.com/help/first-steps-android-sdk/#change-the-map-style)

Yes, definitely :)

Sooner the better I would say but I have absolutely no idea about the amount of work (and unfortunately can't really help 😞 ).

---

Some examples : https

[2018-03-16 14:34] rskikuli commented on #57
- @jbelien and/or @AndyScherzinger can you help us with a release candidate v 1.1.0 similar to this one https://github.com/grote/Transportr/commit/c40d3cc9429b3e5c986fdf4961d3742c79307fc0?
- @marianaballa can we work together on a blog post featuring a list of changes?
- @sidorelauku presence on OSM wiki?
- @jbelien do you remember the steps to send it to Fdroid?

[2018-03-16 14:39] jbelien commented on #57
You just have to create a new release here on GitHub (and upload the APK) : https://github.com/CityZenApp/Android-Development/releases.

If I remember correctly, you just have to publish a release here on GitHub to "publish" it automatically on FDroid :)

[2018-03-16 15:35] rskikuli commented on #85
It seems that this will need more work for research, discussion and also development. Labeling this for ver 1.2.0.

[2018-03-18 19:13] AndyScherzinger commented on #57
I commited ethe right version number to master, so now whenever you build master it'll be 1.1.0RC1

[2018-03-18 20:29] AndyScherzinger opened #88 "Don't send changeset in case of no changes"
Based on feedback in #8

[2018-03-19 09:41] AndyScherzinger commented on #85
I agree with you @jbelien and @rskikuli. For 1.1.0 it is already to late since I won't be able to spend much time on the app in the next 4-5 week (maybe even none at all :cry:). So for 1.1 we did a lot of fixes and general improvements while when using mapbox is it a more or less complete rewrite of (at least) anything map related.

[2018-03-21 20:55] #88 closed

[2018-04-02 18:15] rskikuli commented on #57
@nafieshehu and @sidorelauku will work on this this week. Ideal deadline: 6.04.2018.

[2018-04-02 20:13] rskikuli commented on #55
@AnXh3L0 can you test this on Android tablet you are playing around please? If everything works let me know so that I close this one. Thanks.

[2018-04-09 06:33] mikemaikaefer opened #90 "Searching in map does not work"
Hi,

when I open CityZen, select the "Map"-symbol on lower end of screen, then press the "Search"-button (the magnifier-glass) and type something I want to find, it does not work. After starting the search nothing happens, even when I search for very common cities or nearby places.

So for me it seems, this function is completely broken (using version 1.0 from F-Droid with Android 6.0).

[2018-06-11 11:16] sidorelauku commented on #57
@AndyScherzinger  as I found it difficult to upgrade manually to the next version. I think it woul be better to keep the same way of versioning as the begining. What do you think?

[2018-06-11 12:16] AndyScherzinger commented on #57
@sidorelauku if it makes things easier for you to release new versions, sure thing :+1:

[2018-06-12 08:47] rskikuli commented on #90
Thank you for initiating this @mikemaikaefer . We have done a lot of improvements in the new 1.1 version including better a fully functional search option (thank you @AndyScherzinger). We are working with F-droid to launch the new version asap. You can follow the updates about this issue here  #57. Would be thankfu if you could also try the new version and send us your feedback.

[2018-06-12 12:40] AndyScherzinger commented on #90
@rskikuli this bug exists (now) and I already have a fix (PR coming very soon). This would also be happening with the actual master (HTTP301 - moved permanently). Will be fixed with the next release :+1:

[2018-06-12 12:48] AndyScherzinger commented on #90
Fixing PR is #92

[2018-06-12 13:02] #90 closed

[2018-06-13 08:37] AndyScherzinger commented on #57
So now I guess we just need to tag a release `v1.1.0` and wait, is there anything that needs to be done before? @sidorelauku @rskikuli ?

[2018-06-13 08:55] AndyScherzinger commented on #57
Tag has been created and f-droid PR has been commented so now let's wait for f-droid to pick it up :)

[2018-06-13 18:00] nafieshehu opened #94 "Code can be built in a reproducible way"
I was wondering if the code of the app can be built in a reproducible way using freely available standard tools. Is there anyone that has more info on this? Do you have more info about this process @sidorelauku ?

[2018-06-13 18:02] nafieshehu opened #95 "Code contains README, NOTICE, and CONTRIBUTING files"
Can you inform me if the code of CityZen app contains README, NOTICE, and CONTRIBUTING files, (or sections of a README file)? Have you worked on this @AnXh3L0 ?

[2018-06-13 18:04] nafieshehu opened #96 "Licenses and copyright related questions"
Is there a written policy or agreement in place for committers that defines which code they are allowed to commit and how they need to identify code that is not their own?
Is the copyright ownership of everything the project produces clearly defined and documented? Thank you.

[2018-06-13 18:09] nafieshehu opened #97 "Software releases related questions"
Some more questions related to the way the software is released that would be nice to clarify with the community here:
- Do releases consist of source code, distributed using standard and open archive formats that are expected to stay readable in the long term?
- Are the releases signed and/or distributed with hashes/digest\ that can be reliably used to validate downloaded archives?
- Are convenie

[2018-06-13 18:24] nafieshehu opened #98 "Software quality of the project"
Can someone from the team have a look on these questions? Would really help the community get a better understanding of the way CityZen is structured as a project.
- is our community highly prioritizing producing secure software?
- Do we have what is considered a well-documented channel to report security issues, along with a documented response process?
- do we prioritize backward compatibility,

[2018-06-14 08:48] AndyScherzinger commented on #94
Hard to answer since it depends on your definition of "free". For free as-in free of charge: Yes

Just clone the repo/project, open it in Android Studio and hit "Play" (like wit any Android app project) :grin:
And yes you can do this as many times as you like to do :wink:

[2018-06-15 13:48] rskikuli opened #99 "Search functionality: showing the distance of POIs from user location"
![cityzen photo_2018-06-15_15-37-31](https://user-images.githubusercontent.com/17770262/41471069-dc6b918c-70b2-11e8-9c22-c99db36cbeca.jpg)
Not sure if there is another issue related to this: when users search for a certain POI it would be nice to show also the distance of the POIs shown from the location of the user. This is quite handy when you are searching for restaurants chains (let's say for

[2018-07-06 11:53] rskikuli opened #100 "Design: dark theme development"
I don't know if this should be the case also for CityZen, but I was wondering it it makes sense to have a dark theme design version of CityZen app. In my understanding it is a general trend to offer the option to users to choose between dark or light theme versions.
What do you think?
Should we also work on a dark theme for the app?

[2018-07-10 06:38] AndyScherzinger commented on #100
In general this might be a good idea. Newer Android versions offer this as in a day/night feature within Android while some apps then give the users the option to lock-in day or night theme or leave it to the operating system where Android will switch app between day/night theme (which the app then needs to implement first of course). This is typical for navigation app (and makes sense while drivi

[2018-07-25 21:12] Kelita opened #101 "Offering Copywritting Contribution To Your Project"
Hello, I'm Kelita

I would love to contribute to your project. I went through your repository and discovered some documentation are missing which I would like to contribute to.

I am waiting your response and would be honored if giving the privilege to do so.

[2018-07-26 10:02] rskikuli commented on #101
Thank you for your interest @Kelita . One of the areas you can contribute is localization, this means that you can translate CityZen to your language. Here is how you can do that: https://hosted.weblate.org/projects/cityzen/strings/. Also a good place to start getting to know the community better is by joining our IRC channel https://twitter.com/CityZenappco/status/1006657240546324482.
If there ar

[2018-07-26 10:51] Kelita commented on #101
Thanks for your reply. However, I'm more of a writer and content creator than a translator.

The documentation contributions I originally planned to do was
Create a FAQs document which is a compilation of basic and advanced questions users may likely ask when using the app.

Then a Privacy Policy document which is really important for any project because it gives users information about what perso

[2018-07-27 09:22] rskikuli commented on #101
Than sounds great. Highly appreciated. Should we start with the FAQs? I opened a pad where you can start with a draft and more people can jump in and improve it even more: https://pad.openlabs.cc/p/CityZen_app_FAQs

What do you think?

[2018-07-27 15:10] Kelita commented on #101
Okay, Let's start with the FAQs, I will write them then send to you. You will check for correction or amendment to the FAQs written. You can also drop any details you want to include.

I forgot to answer how I found you. I discovered you through Utopian discord channel.

[2018-07-27 22:32] rskikuli commented on #101
Cool. Really happy to have you join our little but ambitious open source project :) Looking forward.

[2018-07-28 05:45] Kelita commented on #101
I am honored. I will be having some questions which would be needing your answers, how do I contact you? Or should I keep dropping them here for you?

First question
- How does Cityzen find your point of interest?

[2018-07-28 21:43] rskikuli commented on #101
Hey @Kelita, I'm presenting CityZen these days at the [State of the Map](https://stateofthemap.org/) conference in Milan and will have limited access to my computer. I'll definitely check this next week. Thanks for your understanding.

[2018-07-28 22:03] Kelita commented on #101
Alright! I will definitely hold on till when you are available. No rush. Thanks.

[2018-07-30 22:01] rskikuli commented on #101
I added some more content and published the page on the wiki https://github.com/CityZenApp/Android-Development/wiki/Frequently-Asked-Questions. Please have a look.
You mentioned that the app contains adds. Where did you see this? Please keep in mind that CityZen does not have any ads!
Also, can you please send me the link to the Utopian forum where CityZen is mentioned? Thanks again.

[2018-07-30 23:14] Kelita commented on #101
Thanks for the time. The Ads! was a mistake. Thanks for also adding it to the wiki section of the project. I have also update the pad. I can I proceed to the About Us or Privacy Policy?

Here is the link to the discord channel https://discord.gg/Vn2Ntpe

[2018-07-31 09:16] rskikuli commented on #101
Yes, I think the FAQs looks good at this stage. We can update and improve it later. I think the 'privacy policy' session of the app would be the next step.

[2018-07-31 10:07] rskikuli commented on #85
Guys mapbox seems to be the best scenario at this stage. Let's go for it.
@jbelien do you think Mapbox offers also possibilities of an offline version?
@AndyScherzinger is this something you can help at some point? Based on the feedback I got from State of the Map conference it should be a high priority feature for us and all our energy should be focused there. This is an issue related to #38. Off

[2018-07-31 10:42] rskikuli commented on #101
More copywritig is needed for the new 'support us' page we are working on. Here is the issue: https://github.com/CityZenApp/CityZenApp.github.io/issues/10. Let me know if you have any questions. Thanks.

[2018-07-31 19:00] Kelita commented on #101
Thanks a lot. I will move to the Privacy Policy. You can add me as a contributor. Use Kelita as the name.  No problem about the crypto payment. The project is open source

[2018-07-31 19:48] Kelita commented on #101
I see you have a Privacy policy already, I will move to the About Us or do you want to modify it?

[2018-08-03 09:25] Kelita commented on #101
I went through your app also and discovered you have an about us. I think my work is done then. It was nice working with you.

[2018-08-11 10:08] jbelien commented on #85
Yes, the "Mapbox SDK for Android" provides _Offline use_ : https://www.mapbox.com/android-docs/maps/overview/offline/

[2018-11-04 06:35] PrasannaVenkadesh commented on #38
I have been playing around with mapsforge-VTM library for a while. It can render vector tiles on-demand and offline on the device. I wrote a script that prepares map and routing data to be used offline with vtm library. https://gitlab.com/coopon/uauto/backend/map-preparation

[2018-11-08 17:16] PrasannaVenkadesh commented on #85
Good conversation. Obviously depending on openstreetmap.org tile server is very bad practice since we our apps as used by many people will only increase load on those servers. Mapbox, NextZen, OpenMapTiles everyone of them serve vector and raster tiles online. But at the same time they are also limited by number of API requests or tile requests being served.

In my opinion if the app has to be sel

[2018-11-10 16:11] PrasannaVenkadesh commented on #85
- World map without continent/country/region details is included within apk (3.8 mb)
- Any other continent or country or region map can be prepared and copied into Internal (or) External Storage/maps/ location. The app will pick up these files from this location and render them offline as well as we zoom into those region.
- VTM comes with inbuilt location marker, so I have used it instead of old

[2018-11-11 07:08] jbelien commented on #85
@PrasannaVenkadesh That's absolutely awesome ! 😍

I suggested Mapbox Android SDK because I know nothing about Android map abilities (and didn't know about VTM).
But seeing the result here above, I'm definitely convinced !

If we can provide VTM extracts per country, I think we have a solution that fixes both offline use and OSM.org tile usage policy 👍

[2018-11-11 07:09] jbelien commented on #38
See https://github.com/CityZenApp/Android-Development/issues/85#issuecomment-437082510 !

[2018-11-14 20:08] balogic opened #102 "Add Toilets/Restrooms in the List of Categories"
**Toilets** or **Restrooms** are an essential Category that needs to be present in the App. There is a heavy need for these kinds of places in every region/locality. It can be named as **Restrooms** (just a suggestion)

Some of them are,

* Toilets for Men and Women
* For Differentially Abled
* Feeding Rooms
* Other Public Places

Thanks

[2019-04-03 13:21] #57 closed

[2019-04-07 18:25] PrasannaVenkadesh commented on #85
After the above Screencast, I haven't progressed much on it.

In our existing app, I see there are multiple places where MapView is recreated as fragment based on the location passed. The [current issue](https://github.com/mapsforge/vtm/issues/194) with Mapsforge VTM is that, even though multiple instance of mapview is supported, it is buggy when it comes to having multiple MapViews on multiple fr

[2019-04-29 19:33] kominoshja commented on #5
Test

[2019-04-29 19:33] #5 closed

[2019-06-02 13:40] chilledfrogs commented on #10
Hello there,

Just wanted to know how this is coming along, since for me I don't even have a car and I would really need (ideally turn-by-turn but not a must) directions on foot as well as on a bike... In any case, great job on your app, also looking forward to a dark theme 😅

[2019-06-15 01:37] huizache opened #106 "Spanish language is replaced by duplicate Basque language"
Cityzen in spanish shows in basque. In
https://github.com/CityZenApp/Android-Development/tree/master/CityZenApp/app/src/main/res

I see there are two basque languages values:
values-eu  Added translation using Weblate (Basque), commited 2 years ago and with proper basque "eu" iso language code

and

values-es-rEU Translated using Weblate (Basque), commited 10 months ago with an iso code I cannot f

[2019-06-15 20:25] kominoshja commented on #106
@huizache Thank you for opening this issue! Can you confirm that
[`CityZenApp/app/src/main/res/values-es-rEU/strings.xml`](https://github.com/CityZenApp/Android-Development/blob/master/CityZenApp/app/src/main/res/values-es-rEU/strings.xml) is in Basque? If so we can move the content of that file over at [`CityZenApp/app/src/main/res/values-eu/strings.xml`](https://github.com/CityZenApp/Android-Dev

[2019-06-16 12:56] huizache commented on #106
@kominoshja it is in Basque, but I am not a basque speaker, so am not cualified to comment on quality of the translation.

What I did notice scan reading the es-rEu string is that it skips lines and misses a few words and phrases, thus giving the menu partialy in spanish for example.

I also scan read the eu string and it does not skip lines.

I would not recomend mixing es-rEu string with eu stri

[2019-07-29 16:10] rskikuli commented on #102
Thank you for the proposal @balogic . In my opinion this is quite a helpful feature. Added this on ver 2.0 as a milestone.
In the mean time it seems like we need to find a way to make it possible for anyone to add and remove the categories of choice, because we will end up having a huge list of categories and the app will net be user friendly, but this is a discussion for another Github issue :).

[2019-07-29 16:19] rskikuli commented on #3
I have extensively tested this and it seems that with the latest version of the app everything works. Please comment on this issue if you still have this issue @kokushta . Thank you for your contribution. Closing this.

[2019-07-29 16:19] #3 closed

[2019-07-29 16:29] rskikuli commented on #94
Thanks for the answer @AndyScherzinger . Let me know if this answers the question @nafieshehu so that i close this issue. Thanks.

[2019-07-29 16:32] rskikuli commented on #53
From the research I have done so far it seems that it is impossible to have data for the number of installation of the app due to F-droid privacy police (which is more than fair). Closing this.

[2019-07-29 16:32] #53 closed

[2019-07-29 16:54] kominoshja commented on #106
@huizache I confirmed that https://github.com/CityZenApp/Android-Development/commit/4e97b4895acc55ec3904ba0b2940472c2322c84c fixes the issue. Please check so we can push to master

[app-debug.apk](https://git.collective68.tech/CityZen/106-patch/-/jobs/1211/artifacts/raw/app/build/outputs/apk/debug/app-debug.apk)

[2019-07-29 17:44] kominoshja opened #108 "Improvements on FDroid page"
Here are some improvements that we can do to our [FDroid page](https://f-droid.org/app/com.cityzen.cityzen)

- [ ]  Add screenshots
- [ ]  Add changelog
- [ ]  Fix donation link
- [ ]  Improvements on the icon
- [ ]  Header image on FDroid

[2019-07-30 17:32] huizache commented on #106
@kominoshja [4e97b48](https://github.com/CityZenApp/AndroidApp/commit/4e97b4895acc55ec3904ba0b2940472c2322c84c) is the basque translation. I cannot comment on basque translation. It is the proper basque ISO language code "values-eu".

[2019-07-30 18:17] kominoshja commented on #106
Perfect. Merging tonight

[2019-07-30 18:18] #106 closed

[2019-08-02 15:08] rskikuli commented on #108
Thanks Boris. Can I assign you @sidorelauku for this, since you have knowledge of the process needed to make these changes - I think.

[2019-09-22 16:17] Poussinou commented on #108
Two examples [here](https://github.com/TeamNewPipe/NewPipe/tree/dev/fastlane/metadata/android) and [here](https://github.com/Freeyourgadget/Gadgetbridge/tree/master/fastlane/metadata/android). You can even write the short description and the full description that will appear in F-Droid.

[2019-10-29 14:08] rocky-III opened #110 "CityZen offline usage ?"
CityZen is great THANKS - but can´t use cityzen because i do not want to have an internet conection all the time for my mobile - just using WIFI once a while - if cityzen could use the downloaded maps from OsmAnd as well it would be very interessting... do you think this feature could be added?

[2019-10-29 14:13] silvaarapi commented on #110
I think there is a discussion about it here: https://github.com/CityZenApp/AndroidApp/issues/38

[2019-11-06 21:11] PanderMusubi commented on #21
See OsmAnd on how they fixed this. The default is to show the local name, but you can choose to show the name in English (or anyother language) when available instead of the local name.

For example, a map in Japan shows the names in kanji but many foreign users would like to see the romaji (romanized version).

[2020-04-12 16:57] franklinbill opened #111 "A Display Bug"
Dear developer
In the process of using, I found a bug in layout / display. As shown in the figure, the text under the icon of the home page is blocked, which may be caused by the adaptation problem.
App version is 1.2.1, my mobile phone is Google nexus 6, screen resolution setting is 1440 * 2560, font size is the largest, Android system is 8.0.
The above is a description of the problem. The overal

[2020-06-29 08:58] mjray opened #112 "Opening times malformed on upload"
Line 819 of AndroidApp/CityZenApp/app/src/main/java/com/cityzen/cityzen/Fragments/EditPoiFragment.java puts a colon (":") between opening and closing times instead of a dash ("-") which appears contrary to https://wiki.openstreetmap.org/wiki/Key:opening_hours/specification and results in other apps being unable to interpret the uploaded data.

[2020-08-11 08:25] opk12 opened #113 "Some POIs are not found"
The category search misses these examples:
* Health services: the emergency ward "Pronto Soccorso Ospedale SS Gonfalone" <https://www.openstreetmap.org/node/5222275839>
* Parking lot: https://www.openstreetmap.org/way/189052089
* Parking entrance: https://www.openstreetmap.org/node/309130195
* Tourism: https://www.openstreetmap.org/node/657932455
* Bike rental: https://www.openstreetmap.org/node/5

[2020-08-11 08:26] opk12 opened #114 "Private parking is listed"
This parking is private, but it is in the category search results: https://www.openstreetmap.org/node/1358354473

[2020-08-11 08:37] opk12 opened #115 ""No services found" is shown on error"
After a few seconds that I got `No services found near your location` for a category, I click again and do get results, for the same category and the same location. This makes the app look broken, but I assume this is some API or connectivity issue? (This seems similar to the `openstreetmap.org` search sometimes failing with `Too many requests`.)

I also get `No services found near your location`

[2020-08-11 08:39] opk12 opened #116 "Refreshing the map"
New POIs from openstreetmap.org do not appear in the map from CityZen, at any zoom level. `Clear map` does not help. How can I update the map?

[2020-10-07 17:01] aeonSolutions opened #117 "Bad Request (400) - Bad OAuth request."
Just encontered the following #bug on the CityZen App:

    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$3.done(AsyncTask.java:365)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
        at java.util.concurrent.FutureTask.setException(FutureTask.java:252)
        at java.util.concurrent.FutureTask.r

[2021-11-29 08:00] PanderMusubi commented on #97
Any new releases coming up? Lots of translations have been contributed.

[2022-02-12 12:10] Lee-Carre commented on #98
* [The Joel \[Spolsky\] Test: 12 Steps to Better Code](//www.joelonsoftware.com/2000/08/09/the-joel-test-12-steps-to-better-code/)
* David Wheeler's [Secure Programming for Linux and Unix HOWTO — Creating Secure Software](//dwheeler.com/secure-programs/)

[2022-02-12 12:24] Lee-Carre commented on #87
Could always use [StreetComplete](/streetcomplete/StreetComplete) 😄.